body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;


}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100%;
    background-color: #e4e7e4;
}

.form {
    background-color: whitesmoke;
    padding: 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    height: 380px;
    border: 2px solid lightgray;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 520;

}

.element {
    width: 100%;
    height: 30px;

    display: flex;
    flex-direction: row;

    justify-content: center;
    flex-wrap: nowrap;

}

.heading {
    display: flex;
    justify-content: center;
}

label {
    width: 30%;
    padding: 5px 12px 0px 0px;

}

input {
    width: 55%;
    height: 100%;
    border-color: none;
    border-radius: 4px;
    border: none;
}

.btn {

    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.tc-box input {
    width: 10%;
    height: 60%;
    padding: 10px;
    cursor: pointer;


}

.tc {
    width: 90%;
    padding: 4px;
    padding-left: 0px;
}

#btn {
    width: 35%;
    cursor: pointer;
    background-color: lightgreen;
    border: none;
    border-radius: 0.5rem;
}

.user-data {
    width: 60%;
    display: flex;
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
    ;
    flex-direction: column;
    margin-top: 40px;
    padding: 10px;
    align-items: centre;

}

.user-data h2 {
    align-self: center;
}

.tableelement {
    border: 1px solid black;
    width: 25%;
    height: 10px;
    padding: 5px;
}

#email:invalid:focus {
    border: 1px solid red;
}

#name:invalid:focus {
    border: 1px solid red;
}