 <table>
    <tr>
        <td><b> ToDo-List </b></td>
    </tr>
        <% for(let todo of allTodos){ %>
            <tr>
                <td>
                   <%=todo.title %>
                </td>
            </tr>
        <% } %>
</table>